@import url('./variables.css');
/* This will  be the global styling for all areas of the application */
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}
